/* Override default body styles here */
body {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
}
.line {
  position:absolute;
  width:500px;
  height:200px;
}

#svg-overlay{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  z-index: 199;
}

#svg-overlay svg {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.menubar-item {
    padding: 5px;
    margin: 0px;
    background: #DDD;
}
.x-menu-item {
    padding: 1px;
    margin: 1px;
    background: #DDD;
    width: 100px;
    text-align:left;
}

.field-margin {
  margin: 5px;
}

.nav-begin-text {
  text-align: left;
  font-weight: bold;
}

.nav-elem {
    text-align:left;
}

.main-panels .x-tool
{
  left: auto !important;
  right: 0 !important;
  padding-right: 20px;
}
.nav-panels .x-tool
{
  left: 0 !important;
  padding-left: 182px;
}
.nav-panels .x-panel-header-text-container
{
  text-align: left !important;
}
