/* Override default body styles here */
body {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
}

.marker {
  position:absolute;
  width:20px;
  height:20px;
}

.line {
  position:absolute;
  width:500px;
  height:200px;
}

.svg-overlay{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 101;
  width: 100%;
  -webkit-transform: translateZ(0px);
}