<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>edu.berkeley.path.beats_gui.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/Download.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>edu.berkeley.path.beats_gui</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>REST Service</servlet-name>
		<url-pattern>/run</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>app/main.html</welcome-file>
	</welcome-file-list>
	
</web-app>
